@charset "UTF-8";

@keyframes youwin {
    0% { transform: scale(.98) };
    100% { transform: scale(1) };
}

:root {
    --cor1: #BB9457;
    --cor1Paddding: #8b6323;
    --cor1Opaca: #bb955746;
    --cor2: black;
    --cor2Opaca: rgba(0, 0, 0, 0.350);
    --cor3: rgb(0, 180, 0);
    --cor3Opaca: rgba(0, 180, 0, 0.472);
    --cor4: rgb(56, 54, 54);
    --cor5: #99582A;
    --cor6: rgba(211, 137, 114, 0.829);
    --corP1: #e7ebb3;
    --corNPC: #530a08 ;
 }

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 1% 1% 1% 1%;
}

body {
    background-color: var(--cor1);
    min-width: 315px;
}

#frame1 {
    margin: auto;
    border: 3px solid var(--cor2);
    max-height: 700px;
    max-width: 600px;
    min-height: 251px;
    min-width: 294px;
    background-color: var(--cor1Paddding);
    box-shadow: 1px 1px 3px 1px var(--cor2Opaca);
}


header {
    border: 5px solid black;
    background-color: var(--cor1);
    box-shadow: inset 0 0 500px var(--cor2Opaca);
    border-radius: 1% 1% 0% 0%;
    /*background-image: radial-gradient(orange, var(--cor1));*/
}

h1 { 
    padding: 10px 0;
    text-shadow: 2px 2px 1px var(--cor2Opaca);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5em;
}

#menu {
    border-top: 1px solid black;
    padding: 0.2em 0 0.2em 0.1em ;
}

.listaMenu {
    text-align: center;
    display: inline;
    width: 15%;
    background-color: rgba(0, 0, 0, 0.144);
}

.listaMenu:hover {
    color: white;
}

#novaPartida:hover {
    text-decoration: underline;
}

#comoJogar:hover #comoJogarHover {
    display: block;
}

#comoJogarHover {
    padding: 10px;
    border-radius: 5%;
    position: absolute;
    display: none;
    height: 300px;
    width: 300px;
    border: 2px solid black;
    background-color: white;
    color: black;
}

#sobre:hover #sobreHover {
    display: block;
}
#sobreHover {
    padding: 10px;
    border-radius: 5%;
    position: absolute;
    display: none;
    height: 300px;
    width: 300px;
    border: 2px solid black;
    background-color: white;
    color: black;
}

#status {
    display: block;
    height: 60px;
    line-height: 1.8rem;
    margin: 0 5px 1rem 5px;
    padding: 10px 0 10px 10px  ;
    border-radius: 0%;
    border: 1px solid var(--cor1);
    box-shadow: inset 0 0 100px var(--cor1Opaca);
    background-color: var(--cor2);
    color: var(--cor3);
    font-size: 1.2em;
    text-shadow: 1px 1px 1px var(--cor3Opaca);
}

#tabuleiro {
    background-color: var(--cor2);
    margin: auto;
    padding: 15px 5px 5px 5px;
    border-radius: 0 0 1% 1%;
}

.linha {
    width: 100%;
    background: var(--cor2);
    display: flex;
    justify-content: space-evenly;
}

/* .indicador-jogada .linha {
    background: transparent;
    margin-bottom: 1rem;
} */

.bJogar {
    display: block;
    text-shadow: 3px 3px 3px var(--cor2Opaca);
    width: 13%;
    height: 64px;
    font-size: 3em;
    border-radius: 50%;
    padding-bottom: 1.4em;
    background-image: radial-gradient(circle at center, var(--cor1), black );
}

.bJogar:hover {
    background-image: radial-gradient(circle at center, var(--corP1), black );
}

.quadrado {
    display: block;
    width: 13%;
    height: 64px;
}

.bola  {
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--cor6);
    border-radius: 50%;
    padding-bottom: 0px;    
}

.corNPC {
    background-color: var(--corNPC);
}

.corP1 {
    background-color: var(--corP1);
}

.cor1 {
    background-color: var(--cor1);
}
.testeNPC {
    border: 1px solid var(--corNPC);
}
.testeP1 {
    border: 1px solid var(--corP1);
}

.testeNPC, .testeP1 {
    animation: youwin .625s ease-in-out infinite alternate;
}

html .skin-1  {
    --corP1: #f4d06f;
    --corNPC: #f87575;
    --cor2: #5c95ff;
    --cor1: #ffe7e6;
}

.skin-1 #frame1 {
    border: 0;
    background: rgba(92,149,255,.75);
}

.skin-1 #status {
    background-color: transparent;
    text-align: center;
    font-family: sans-serif;
    color: white;
}

.skin-1 #tabuleiro {
    border-top: 2px solid rgba(0, 0, 0, .33);
}

.skin-1 .bJogar {
    background-image: radial-gradient(circle at center, var(--cor1), rgba(0, 0, 0, .22));
}

.skin-1 .bJogar:hover {
    background-image: radial-gradient(circle at center, var(--corP1), rgba(0, 0, 0, .22));
}

@media screen and (max-width: 535px) {
    #status {
        height: 90px;
        /*font-size: .875rem;
        padding: .25rem 0;*/
    }

    .quadrado {
        height: 48px;
    }
    
}